# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\研究生学习进阶计划\本科毕业设计\KDD2019_HetGNN-master\KDD2019_HetGNN-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
